.form {
    margin:auto;
    background: white;
    border-radius: 25px;
    min-width: max-content;
    max-width: 400px;
    min-height: 380px;
    margin-top: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 10px 10px 14px -1px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 10px 10px 14px -1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 14px -1px rgba(0, 0, 0, 0.75);
}

.formItems {
    text-align: center;
}

.heading {
    font-size: 30px;
    font-weight: bolder;
    color: #fb6f92;
    margin-bottom: 20px;
    margin-left:0;

}

.item {
    margin-bottom: 25px;
    color: #fb6f92;
}

.link {
    margin-bottom: 20px;
    color: #fb6f92;
    font-weight: bold;
}
a{
    text-decoration: none;
}
 .button {
            font-size: 15px;
            color: #caf0f8;
            padding-left: 20px;
            padding-right: 20px;
            background: linear-gradient(to bottom right, #fb6f92, #ff8fab, #ffb3c6);
            border: none;
            height: 50px;
            width: 220px;
            border-radius: 20px;
            cursor: pointer;
        }
