.box {
    background-color:white;
    min-width: fit-content;
    max-width: 45vw;
    height: max-content;
    border-radius: 20px;
    margin:auto;
    font-size: 22px;
    color: #fb6f92;
    font-weight: bolder;
    margin-top: 10vh;
    text-align: center;
    box-shadow: 10px 10px 14px -1px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 10px 10px 14px -1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 14px -1px rgba(0, 0, 0, 0.75);
    padding:1%;
    display:flex;
    flex-direction: column;
    align-items: center;
}

.info {
    margin-left: 30px;

}

.item {
    color: black;
    font-weight: lighter;
}

.heading {
    font-size: 35px;
    font-weight: bolder;
    color: #fb6f92;
    margin-bottom: 5vh;
    margin-top: 3vh;
    text-align: center;
    margin-left: 0;
}

.button {
    font-size: 15px;
    color: #caf0f8;
    padding-left: 20px;
    padding-right: 20px;
    background: linear-gradient(to bottom right, #fb6f92, #ff8fab, #ffb3c6);
    border: none;
    height: 50px;
    width: 100px;
    border-radius: 20px;
    cursor: pointer;
}
.button:hover{
    background: white;
    color:#fb6f92;
}