a:-webkit-any-link {
    color: #caf0f8;
}

a:-webkit-any-link:hover {
    color: #fb6f92;
    cursor: pointer;
}


.navbar {
    min-height: 12vh;
    color: #ffe5ec;
    background: linear-gradient(to bottom, #ff8fab, #ffb3c6);
    display: flex;
    max-width: 100vw;
}

.logo {
    margin-right: auto;
    margin-left: 1vw;
    margin-top: 4vh;
    font-size: 25px;
}
.logo:hover{
    color: #fb6f92;
    cursor: pointer;
}

.options {
    margin-right: 1vw;
    margin-top: 5vh;
    font-size: 18px;
}

.options:hover {
    color: #fb6f92;
    cursor: pointer;
}

.a {
    color: #ffe5ec;
}
