
.box {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 50vw;
    min-height: 45vh;
    background: linear-gradient(to bottom right, white, #caf0f8);
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    box-shadow: 3px 7px 16px 4px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 3px 7px 16px 4px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 3px 7px 16px 4px rgba(0, 0, 0, 0.75);
    align-items: center;
}
.modal {
    border: none;
}
.form{
    position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
   
}
.close {
    color: #fb6f92;
    cursor: pointer;
    margin-left: 90%;
    margin-top: 20px;
}
.label{
    color:#fb6f92;
    font-size: 1.5rem;
    font-weight: bolder;
    text-align: center;
}
.button{
    font-size: 15px;
        color: #caf0f8;
        padding-left: 20px;
        padding-right: 20px;
        background: linear-gradient(to bottom right, #fb6f92, #ff8fab, #ffb3c6);
        border: none;
        height: 50px;
        width: 100%;
        border-radius: 20px;
        cursor: pointer;
        margin-top: 25px;
        margin-left:auto;
        
}

